@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Sigmar One', cursive;
}

h1 {
    font-size: 5rem;
    margin: 0;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

input {
    font-size: 1.5rem;
}